<div style="padding-top: 20px; padding-bottom: 0px;" class="jumbotron">
	<div class="row justify-content-center">
		<h1>API</h1>
	</div>
	<h3>Oque é um API?</h3>
	<p>API é um conjunto de rotinas e padrões de programação para acesso a um aplicativo de software ou plataforma baseado na Web</p>
	<h3>Vantagens em utilizar uma API.</h3>
	<p>Otimização da gestão interna através da geração automática de relatórios. Maior controle através de uma forma simplificada de utilização.</p>
</div>