<div style="padding-top: 20px; padding-bottom: 0px;" class="jumbotron">
	<div class="row justify-content-center">
		<h1>Métodos de requisição HTTP</h1>
	</div>
	<h3>Quais os métodos de requisição HTTP?</h3>
	<p>GET, HEAD, POST, PUT, DELETE, TRACE, OPTIONS, CONNECT e PATCH.</p>
	<h3>Quais os mais utilizados?</h3>
	<p>GET, POST, PUT e DELETE.</p>
</div>