<div style="padding-top: 20px; padding-bottom: 0px;" class="jumbotron">
	<div class="row justify-content-center">
		<h1>Modelo MVC</h1>
	</div>
	<h3>Como o Modelo MVC funciona?</h3>
	<p>&emsp;Modelo MVC se trata de um padrão de arquitetura de software. Ele funciona através da separação do seu projeto em 3 camadas, são elas; Model (Camada de Manipulação de Dados), View (Camada de Interação com Usuário) e Controller (Camada de Controle).</p>
	<ul>
		<li>
			<b>Model</b>
			<p>&emsp;Responsável pelos dados da aplicação, regras de negócio, lógica e funções.</p>
		</li>
		<li>
			<b>View</b>
			<p>&emsp;Responsável pela exibição de dados.</p>
		</li>
		<li>
			<b>Controller</b>
			<p>&emsp;Responsável por receber todas as requisições do usuário, controlando qual model usar e qual view será mostrado para usuário.</p>
		</li>
	</ul>
	<br>
	<h3>Classe DAO do Java no MVC</h3>
	<p>&emsp;Ela se encaixa na camada Model, pois é responsável pela interação com o banco de dados baseando-se em uma classe vinda do Domain.</p>
	<br>
	<h3>Frameworks Javascript</h3>
	<p>&emsp;JQuery, AngularJS, VueJS, ReactJS e EmberJS.</p>
	<br>
	<h3>Oque é um ORM?</h3>
	<p>&emsp;Se trata de uma técnica de mapeamento objeto relacional que permite fazer uma relação dos objetos com os dados que os mesmos representam. O ORM do Ruby on Rails é o Active Record e do Java é o Hibernate.</p>
</div>